ul{
	list-style: none;
}
li{
	float: left;
	width: 170px;
	height: 170px;
	padding:10px;
	margin:5px -7px 0px 0px;
	box-shadow: 0 2px 2px rgba(0,0,0, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12);

}
img{
	display:inline;
}
.greyed{
	opacity: 0.5;
	filter: grayscale(100%) blur(1px);
	pointer-events: none
}
.arrow-right{
	display:inline-block;
	margin: auto;
	margin-top: 80px;
	border-style: solid;
	border-color: black;
}
.arrow-left{
	
	display:inline-block;
	margin: auto;
	margin-top: 80px;
	border-style: solid;
	border-color: black;
}