<h1 class = "Jumbotron">Hello</h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
  	<!--href=# centers text in navbar-->
    	<li><a href="#">Home</a></li>
    	<li><a href="#">Artist</a></li>
    	<li><a href="#">Albums</a></li>
    	<li><a href="#">Songs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<li><a href="#">Sign Up/Login</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<form class="search-bar">
	<h1 class="search-label">Search</h1>
	<div class="form-group search-input">
		<input  type="text" class="form-control" placeholder="Search">		
	</div>
	<button type="submit" class="btn btn-danger search-button">Search</button>		
</form>

<div class="top-songs container-fluid">
	<h1>Top 10 Artist</h1>
	<div class="topsongs">
		
	</div>
</div>

<div class="top-albums container-fluid">
	<h1>Top 10 Albums</h1>
	<div class="topalbums">
		
	</div>
</div>

<div class="top-artist container-fluid">
	<h1>Top 10 Artist</h1>
	<div class="topartist">
		
	</div>
</div>






